/*
Overriding Bootstrap CSS
*/
.navbar-default {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.navbar-default .navbar-brand {
    color: #532;
}
.navbar-default .navbar-nav > li > a {
    color: #532;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #532;
    text-decoration: underline;
    
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #532;;
    background-color: #FFFFFF;
    text-decoration: underline;
    
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #532;
    text-decoration: underline;
    background-color: #FFFFFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #532;
    border-color: #532;
}
.navbar-default .navbar-toggle {
	background-color: #532;
    border-color: #532;
}

table {
  width: 90%;
  margin: 0 auto;
}

#addOnTable {
  border: solid 2px black;
}

td {
  padding-top: 0.5em;
}

.menuSectionHead {
  font-size: larger;
  font-weight: bold;
  border-bottom: solid 3px black;
  column-span: 2;
}

.menuExtraInfo {
  border-bottom: none;
  text-align: center;
  column-span: 2;
}

.menuItem {
  font-weight: bold;
  border-bottom: dotted 1px black;
}

.menuSecondaryItem {
  border-bottom: dotted 1px black;
  padding-left: 1em;
  padding-top: 0.5em;
}

#addOnTable .itemPrice {
  text-align: right;
  border-bottom: dotted 1px black;
  padding-right: 1em;
  padding-top: 0.5em;
}

.menuItem em {
  font-weight: normal;
}

.glutenFreeIcon {
  height: 1em;
}

#locationMap {
  background-color: #fff;
  padding: 2%;
  border: 1px solid #D6D4C8;
  width: 96%;
  height: 50em;
}