<!DOCTYPE html>
<html>
  <head>
    <title>Local Burger | Contact</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
  </head>
  <body>
    <header id="mainHeader">
      <a href="../index.html">
      <img src="../images/cropped-local360-header.png" width="100%" alt="Local Burger"/></a>
    </header>

    <nav id="mainMenu">
      <ul>
        <li><a href="./reservations.html">Reservations</a></li>
        <li><a href="./menus.html">Menus</a></li>
        <li><a href="./events.html">Events</a></li>
        <li><a href="./contact.html">Contact</a></li>
      </ul>
    </nav>

    <h1 style="text-align:center;">Local Burger is located at 10134 Main Street in Downtown Bellevue</h1>

    <iframe width="93.675%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2689.809441522542!2d-122.20462800000001!3d47.6103949!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906c80a90027dd%3A0xefea5186cfc7735d!2s10134+Main+St%2C+Bellevue%2C+WA+98004!5e0!3m2!1sen!2sus!4v1406062315383" style="background-color:#fff; padding:10px;border: 1px solid #D6D4C8;"></iframe>

    <p>For Reservations, <a href="./reservations.html">click here</a>.</p>
    <p>All other inquiries, please call us at (425) 454-8559 or email us at <a href="mailto:info@localburger.org">info@localburger.org</a>.</p>
    <p>Thank you for your business!</a>

    <footer>
      <ul>
        <li><a id="emailInfo" href="mailto:info@localburger.org">info@localburger.org</a></li>
      </ul>
    </footer>
  </body>
</html>
