<!DOCTYPE html>
<html>
  <head>
    <title>Local Burger | Events</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
  </head>
  <body>
    <header id="mainHeader">
      <a href="../index.html">
      <img src="../images/cropped-local360-header.png" width="100%" alt="Local Burger"/></a>

      <nav id="mainMenu">
        <ul>
          <li><a href="./reservations.html">Reservations</a></li>
          <li><a href="./menus.html">Menus</a></li>
          <li><a href="./events.html">Events</a></li>
          <li><a href="./contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <article>
        
      </article>
    </main>

    <footer>
      <ul>
        <li><a id="emailInfo" href="mailto:info@localburger.org">info@localburger.org</a></li>
      </ul>
    </footer>
  </body>
</html>
