<!DOCTYPE html>
<html>
  <head>
    <title>Local Burger | Menus</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
  </head>
  <body>
    <header id="mainHeader">
      <a href="../index.html">
      <img src="../images/cropped-local360-header.png" width="100%" alt="Local Burger"/></a>
   
      <nav id="mainMenu">
        <ul>
          <li><a href="./reservations.html">Reservations</a></li>
          <li><a href="./menus.html">Menus</a></li>
          <li><a href="./events.html">Events</a></li>
          <li><a href="./contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <p>So, you've found the good stuff! Save yourself some indecision, we've got all the menus you need right here...</p>
      <p>Local Burger is open from <strong>11am</strong> to <strong>close</strong> on the daily.<br/><br />
      Looking to get happy? Be here from <strong>3pm</strong> to <strong>6pm</strong>.<br/><br />
      Brunch is on the weekends from <strong>9am</strong> to <strong>3pm</strong>.</p>
      <p>Problems with uncertainty?  Make a reservation <a href="http://www.opentable.com/local-burger-reservations-bellevue">here</a>!</p>
      <p>We believe in real food, grown and harvested by the good folks in our community who take care of their land for future generations. We believe in whole, natural flavor. We believe in sustainability, not as an abstract concept, but as a conscious daily choice. We believe in hands, products made by hand, and the goodwill fostered by such hand-in-hand relationships.</p>
      <p>Thank you for your business.</p>

      <a href="../pdf/dayMenu.pdf" title="Daytime Menu">Daytime Menu</a>
      <a href="../pdf/happyHourMenu.pdf" title="Happy Hour Menu">Happy Hour</a>
      <a href="../pdf/brunchMenu.pdf" title="Brunch Menu">Brunch</a>
      <a href="../pdf/cateringMenu.pdf" title="Catering Menu">Catering</a>

      <img src="../images/onion-rings.jpg" alt="Onion Rings"/>
      <img src="../images/deviled-eggs.jpg" alt="Deviled Eggs"/>
      <img src="../images/cocktails.jpg" alt="Cocktails"/>
      <img src="../images/dessert.jpg" alt="Dessert"/>
    </main>

    <footer>
      <ul>
        <li><a id="emailInfo" href="mailto:info@localburger.org">info@localburger.org</a></li>
      </ul>
    </footer>
  </body>
</html>
