<!DOCTYPE html>
<html>
  <head>
    <title>Local Burger | Reservations</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <header id="mainHeader">
      <a href="index.html">
      <img src="images/cropped-local360-header.png" width="100%" alt="Local Burger"/></a>
    </header>

    <nav id="mainMenu">
      <ul>
        <li><a href="partials/reservations.html">Reservations</a></li>
        <li><a href="partials/menus.html">Menus</a></li>
        <li><a href="partials/events.html">Events</a></li>
        <li><a href="partials/contact.html">Contact</a></li>
      </ul>
    </nav>

    <main>
      <h1>Reservations</h1>

      <h3>We take reservations daily, save yourself a spot!</h3>

      <img src="./reservations.jpg" alt="Reserve A Table"/>

      <p>For parties of 10 or more, please give us a call at (425) 454-8559 or email us at <a href="mailto:info@localburger.org">info@localburger.org</a>. Thank you.</p>

      <script type="text/javascript" src="http://www.opentable.com/frontdoor/default.aspx?rid=147898&restref=147898&hover=1"></script>

      <footer>
        <ul>
          <li><a id="emailInfo" href="mailto:info@localburger.org">info@localburger.org</a></li>
        </ul>
      </footer>
    </main>
  </body>
</html>
