<div ng-controller="AdminUpdateEventCtl" ng-init="init()">
    <div class="row">
        <div class="col-lg-12">
            <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                <span ng-bind="messages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                   ng-show="messages"></i>
            </div>
            <img class="spinner" src="/images/ajax-loader.gif" ng-show="loading"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>Update or Delete Events</h3>
            <div ng-repeat="event in events" class="repeat-item">
	           <form name="eventForm" novalidate role="form">
	           		<p>{{events[$index].id}}</p>
	                <div class="form-group" ng-class="{'has-warning': events[$index].name != initialEvents[$index].name}">
	                    <label for="name">Name </label>
	                    <span class="label label-warning" ng-show='events[$index].name != initialEvents[$index].name'> Changed</span>
	                    <input id="name" type="text" name="name" ng-model="event.name" class="form-control"/>
	                </div>
	                <button ng-click="deleteEvent(event, $index)" class="btn btn-primary"
	                        ng-disabled="loading">Delete event
	                </button>
	                <button ng-click="updateEvent(event, $index)" class="btn btn-primary"
	                        ng-disabled="loading || events[$index].name === initialEvents[$index].name">Update event
	                </button>
	            </form>   
            </div>
        </div>
    </div>
</div>