<div ng-controller="AdminUpdateMenuItemCtl" ng-init="init()">
    <div class="row">
        <div class="col-lg-12">
            <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                <span ng-bind="messages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                   ng-show="messages"></i>
            </div>
            <img class="spinner" src="/images/ajax-loader.gif" ng-show="loading"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>Update or Delete Menu Items</h3>
            <div ng-repeat="menuItem in menuItems"  class="repeat-item">
	           <form name="menuItemForm" novalidate role="menuItem">
	                <div class="form-group" ng-class="{'has-warning': menuItems[$index].name != initialMenuItems[$index].name}">
	                    <label for="name">Name </label>
	                    <span class="label label-warning" ng-show='menuItems[$index].name != initialMenuItems[$index].name'> Changed</span>
	                    <input id="name" type="text" name="name" ng-model="menuItem.name" class="form-control"/>
	                </div>
	                <button ng-click="deleteMenuItem(menuItem, $index)" class="btn btn-primary"
	                        ng-disabled="loading">Delete Menu Item
	                </button>
	                <button ng-click="updateMenuItem(menuItem, $index)" class="btn btn-primary"
	                        ng-disabled="loading || menuItems[$index].name === initialMenuItems[$index].name">Update Menu Item
	                </button>
	            </form>   
            </div>
        </div>
    </div>
</div>