<h1 style="text-align:center;">Check out our events</h1>
<div ng-controller="MenuCtl" ng-init="init()">
    <div class="row">
        <div class="col-lg-12">
            <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                <span ng-bind="messages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                   ng-show="messages"></i>
            </div>
        </div>
    </div>


 
      <p>So, you've found the good stuff! Save yourself some indecision, we've got all the menus you need right here...</p>
      <p>Local Burger is open from <strong>11am</strong> to <strong>close</strong> on the daily.<br/><br />
      Looking to get happy? Be here from <strong>3pm</strong> to <strong>6pm</strong>.<br/><br />
      Brunch is on the weekends from <strong>9am</strong> to <strong>3pm</strong>.</p>
      <p>Problems with uncertainty?  Make a reservation <a href="http://www.opentable.com/local-burger-reservations-bellevue">here</a>!</p>
      <p>We believe in real food, grown and harvested by the good folks in our community who take care of their land for future generations. We believe in whole, natural flavor. We believe in sustainability, not as an abstract concept, but as a conscious daily choice. We believe in hands, products made by hand, and the goodwill fostered by such hand-in-hand relationships.</p>
      <p>Thank you for your business.</p>

	<tabset id="show-menus-tab" justified="true">
	<tab select="getBrunch()" heading="Brunch"></tab>
	<tab select="getHappyHour()" heading="Happy Hour"></tab>
	<tab select="getDinner()" heading="Dinner"></tab>
	<tab select="getCatering()" heading="Catering"></tab>
	</tabset>
	<img class="spinner" src="/images/ajax-loader.gif" ng-show="loading"/>
	<div ng-show="selectedTab == 'BRUNCH'">
		<h1 class="menuSectionHead">LIBATIONS</h1>
		<table>
			<tbody ng-repeat="menuItem in menuItems | filter:'BRUNCH' | filter:'LIBATIONS'">
	          	<tr>
		            <td class="menuItem">{{menuItem.name}}<br><em>{{menuItem.description}}</em></td>
		            <td class="itemPrice">{{menuItem.price | currency}}</td>
		        </tr>
			 </tbody>

		</table>
		<h1 class="menuSectionHead">STARTERS</h1>
		<table>
			<tbody ng-repeat="menuItem in menuItems | filter:'BRUNCH' | filter:'STARTERS'">
	          	<tr>
		            <td class="menuItem">{{menuItem.name}}<br><em>{{menuItem.description}}</em></td>
		            <td class="itemPrice">{{menuItem.price | currency}}</td>
		        </tr>
			 </tbody>

		</table>
		<h1 class="menuSectionHead">SALADS</h1>
		<table>
			<tbody ng-repeat="menuItem in menuItems | filter:'BRUNCH' | filter:'SALADS'">
	          	<tr>
		            <td class="menuItem">{{menuItem.name}}<br><em>{{menuItem.description}}</em></td>
		            <td class="itemPrice">{{menuItem.price | currency}}</td>
		        </tr>
			 </tbody>

		</table>
		<h1 class="menuSectionHead">MAINS</h1>
		<table>
			<tbody ng-repeat="menuItem in menuItems | filter:'BRUNCH' | filter:'MAINS'">
	          	<tr>
		            <td class="menuItem">{{menuItem.name}}<br><em>{{menuItem.description}}</em></td>
		            <td class="itemPrice">{{menuItem.price | currency}}</td>
		        </tr>
			 </tbody>

		</table>
		<h1 class="menuSectionHead">SIDES</h1>
		<table>
			<tbody ng-repeat="menuItem in menuItems | filter:'BRUNCH' | filter:'SIDES'">
	          	<tr>
		            <td class="menuItem">{{menuItem.name}}<br><em>{{menuItem.description}}</em></td>
		            <td class="itemPrice">{{menuItem.price | currency}}</td>
		        </tr>
			 </tbody>
		</table>
								
	</div>
	<div ng-show="selectedTab == 'HAPPYHOUR'">
		<h1 class="menuSectionHead">Food</h1>
		<table>
			<tbody ng-repeat="menuItem in menuItems | filter:'HAPPYHOUR' | filter:'FOOD'">
	          	<tr>
		            <td class="menuItem">{{menuItem.name}}<br><em>{{menuItem.description}}</em></td>
		            <td class="itemPrice">{{menuItem.price | currency}}</td>
		        </tr>
			 </tbody>

		</table>
		<h1 class="menuSectionHead">Drinks</h1>
		<table>
			<tbody ng-repeat="menuItem in menuItems | filter:'HAPPYHOUR' | filter:'DRINKS'">
	          	<tr>
		            <td class="menuItem">{{menuItem.name}}<br><em>{{menuItem.description}}</em></td>
		            <td class="itemPrice">{{menuItem.price | currency}}</td>
		        </tr>
			 </tbody>

		</table>
	</div>
	<div ng-show="selectedTab == 'DINNER'">
		<h1 class="menuSectionHead">STARTERS</h1>
		<table>
			<tbody ng-repeat="menuItem in menuItems | filter:'DINNER' | filter:'STARTERS'">
	          	<tr>
		            <td class="menuItem">{{menuItem.name}}<br><em>{{menuItem.description}}</em></td>
		            <td class="itemPrice">{{menuItem.price | currency}}</td>
		        </tr>
			 </tbody>

		</table>
		<h1 class="menuSectionHead">SALADS</h1>
		<table>
			<tbody ng-repeat="menuItem in menuItems | filter:'DINNER' | filter:'SALADS'">
	          	<tr>
		            <td class="menuItem">{{menuItem.name}}<br><em>{{menuItem.description}}</em></td>
		            <td class="itemPrice">{{menuItem.price | currency}}</td>
		        </tr>
			 </tbody>

		</table>
		<h1 class="menuSectionHead">SIDES</h1>
		<table>
			<tbody ng-repeat="menuItem in menuItems | filter:'DINNER' | filter:'SIDES'">
	          	<tr>
		            <td class="menuItem">{{menuItem.name}}<br><em>{{menuItem.description}}</em></td>
		            <td class="itemPrice">{{menuItem.price | currency}}</td>
		        </tr>
			 </tbody>

		</table>
		<h1 class="menuSectionHead">BURGERS</h1>
		<table>
			<tbody ng-repeat="menuItem in menuItems | filter:'DINNER' | filter:'BURGERS'">
	          	<tr>
		            <td class="menuItem">{{menuItem.name}}<br><em>{{menuItem.description}}</em></td>
		            <td class="itemPrice">{{menuItem.price | currency}}</td>
		        </tr>
			 </tbody>
		</table>
		<table id="addOnTable">
			<thead>
            	<tr>
            		<th colspan="2">LOCAL ADD-ONS</th>
                </tr>
            </thead>
			<tbody ng-repeat="menuItem in menuItems | filter:'DINNER' | filter:'ADD_ONS'">
	          	<tr>
		            <td class="menuItem">{{menuItem.name}}<br><em>{{menuItem.description}}</em></td>
		            <td class="itemPrice">{{menuItem.price | currency}}</td>
		        </tr>
			 </tbody>
		</table>
		<h1 class="menuSectionHead">COCKTAILS</h1>
		<table>
			<tbody ng-repeat="menuItem in menuItems | filter:'DINNER' | filter:'COCKTAILS'">
	          	<tr>
		            <td class="menuItem">{{menuItem.name}}<br><em>{{menuItem.description}}</em></td>
		            <td class="itemPrice">{{menuItem.price | currency}}</td>
		        </tr>
			 </tbody>
		</table>
		<h1 class="menuSectionHead">DESSERTS</h1>
		<table>
			<tbody ng-repeat="menuItem in menuItems | filter:'DINNER' | filter:'DESSERTS'">
	          	<tr>
		            <td class="menuItem">{{menuItem.name}}<br><em>{{menuItem.description}}</em></td>
		            <td class="itemPrice">{{menuItem.price | currency}}</td>
		        </tr>
			 </tbody>
		</table>				
	</div>
	<div ng-show="selectedTab == 'CATERING'">
		<h1 class="menuSectionHead">Sandwiches & Wraps</h1>
		<table>
			<tbody ng-repeat="menuItem in menuItems | filter:'CATERING' | filter:'SANDWICHES_&_WRAPS'">
	          	<tr>
		            <td class="menuItem">{{menuItem.name}}<br><em>{{menuItem.description}}</em></td>
		            <td class="itemPrice">{{menuItem.price | currency}}</td>
		        </tr>
			 </tbody>

		</table>
		<h1 class="menuSectionHead">SALADS</h1>
		<table>
			<tbody ng-repeat="menuItem in menuItems | filter:'CATERING' | filter:'SALADS'">
	          	<tr>
		            <td class="menuItem">{{menuItem.name}}<br><em>{{menuItem.description}}</em></td>
		            <td class="itemPrice">{{menuItem.price | currency}}</td>
		        </tr>
			 </tbody>

		</table>
		<h1 class="menuSectionHead">PLATTERS</h1>
		<table>
			<tbody ng-repeat="menuItem in menuItems | filter:'CATERING' | filter:'PLATTERS'">
	          	<tr>
		            <td class="menuItem">{{menuItem.name}}<br><em>{{menuItem.description}}</em></td>
		            <td class="itemPrice">{{menuItem.price | currency}}</td>
		        </tr>
			 </tbody>

		</table>
	</div>
</div> 
	
